# SPDX-FileCopyrightText: 2023 - 2026 Rivos Inc.
#
# SPDX-License-Identifier: Apache-2.0

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: ".patch"

  - repo: https://github.com/PyCQA/isort
    rev: "7.0.0"
    hooks:
      - id: isort
        args:
          - --profile
          - google
          - --filter-files

  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf

  # pull mirror of https://github.com/fsfe/reuse-tool
  - repo: https://github.com/rivosinc/reuse-tool
    rev: 'da430ed605e06460b020a75410d62ddb7fc9a616'
    hooks:
      # Add copyright/license header
      - id: reuse-annotate
        args:
          - -c Rivos Inc.
          - -l Apache-2.0
          - --merge-copyrights
          - --skip-unrecognised

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
      - id: shfmt
        args:
          - -i 2
          - -ci

  - repo: https://github.com/ikamensh/flynt
    rev: '1.0.6'
    hooks:
      - id: flynt

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
